[submodule "src/transitLC"]
	path = src/transitLC
	url = https://github.com/transitLC/transitLC
[submodule "src/image_filter"]
	path = src/image_filter
	url = https://github.com/niptk-org/image_filter
[submodule "src/image_format"]
	path = src/image_format
	url = https://github.com/niptk-org/image_format
[submodule "src/image_gen"]
	path = src/image_gen
	url = https://github.com/niptk-org/image_gen
[submodule "src/img_reduce"]
	path = src/img_reduce
	url = https://github.com/niptk-org/img_reduce
[submodule "src/00CORE"]
	path = src/00CORE
	url = https://github.com/niptk-org/00CORE
[submodule "src/COREMOD_arith"]
	path = src/COREMOD_arith
	url = https://github.com/niptk-org/COREMOD_arith
[submodule "src/COREMOD_iofits"]
	path = src/COREMOD_iofits
	url = https://github.com/niptk-org/COREMOD_iofits
[submodule "src/COREMOD_memory"]
	path = src/COREMOD_memory
	url = https://github.com/niptk-org/COREMOD_memory
[submodule "src/COREMOD_tools"]
	path = src/COREMOD_tools
	url = https://github.com/niptk-org/COREMOD_tools
[submodule "src/info"]
	path = src/info
	url = https://github.com/niptk-org/info
[submodule "src/linopt_imtools"]
	path = src/linopt_imtools
	url = https://github.com/niptk-org/linopt_imtools
[submodule "src/fft"]
	path = src/fft
	url = https://github.com/niptk-org/fft
[submodule "src/linARfilterPred"]
	path = src/linARfilterPred
	url = https://github.com/niptk-org/linARfilterPred
[submodule "src/ImageStreamIO"]
	path = src/ImageStreamIO
	url = https://github.com/niptk-org/ImageStreamIO
[submodule "src/ZernikePolyn"]
	path = src/ZernikePolyn
	url = https://github.com/niptk-org/ZernikePolyn
[submodule "src/psf"]
	path = src/psf
	url = https://github.com/niptk-org/psf
[submodule "src/cudacomp"]
	path = src/cudacomp
	url = https://github.com/niptk-org/cudacomp
[submodule "src/kdtree"]
	path = src/kdtree
	url = https://github.com/niptk-org/kdtree
[submodule "src/CommandLineInterface"]
	path = src/CommandLineInterface
	url = https://github.com/niptk-org/CommandLineInterface
[submodule "src/image_basic"]
	path = src/image_basic
	url = https://github.com/milk-org/image_basic
[submodule "src/statistic"]
	path = src/statistic
	url = https://github.com/milk-org/statistic
